@root-path: 'atom://fonts-cjk/resources';

.font-face (@name, @weight, @style, @file) {
  @font-path: '@{root-path}/@{file}';
  @font-face {
    font-family: @name;
    font-weight: @weight;
    font-style: @style;
    src: local(@name), url(@font-path);
  }
}

atom-text-editor.editor {
  font-family: var(--fonts-cjk-editorFont);
}

.markdown-preview {
  font-family: var(--fonts-cjk-markdownPreviewFont) !important;
}

atom-workspace,
.settings-view {
  font-family: var(--fonts-cjk-workspaceFont) !important;
}
