@root-path: 'atom://fonts-cjk/resources';

.font-face (@name, @weight, @style, @file) {
  @font-path: '@{root-path}/@{file}';
  @font-face {
    font-family: @name;
    font-weight: @weight;
    font-style: @style;
    src: local(@name), url(@font-path);
  }
}

[data-fonts-cjk-editorFont] {
  atom-text-editor.editor {
    font-family: var(--fonts-cjk-editorFont);
  }
}

[data-fonts-cjk-markdownPreviewFont] {
  .markdown-preview {
    font-family: var(--fonts-cjk-markdownPreviewFont) !important;
  }
}

[data-fonts-cjk-workspaceFont] {
  atom-workspace,
  .settings-view,
  .github-Panel {
    font-family: var(--fonts-cjk-workspaceFont) !important;
  }
}
