@import 'functions';

.font('MigMix 1P', 400, normal, 'migmix-1p/migmix-1p-regular.ttf');
.font('MigMix 1P', 700, normal, 'migmix-1p/migmix-1p-bold.ttf');
.font('MigMix 2P', 400, normal, 'migmix-2p/migmix-2p-regular.ttf');
.font('MigMix 2P', 700, normal, 'migmix-2p/migmix-2p-bold.ttf');
.font('MigMix 1M', 400, normal, 'migmix-1m/migmix-1m-regular.ttf');
.font('MigMix 1M', 700, normal, 'migmix-1m/migmix-1m-bold.ttf');
.font('MigMix 2M', 400, normal, 'migmix-2m/migmix-2m-regular.ttf');
.font('MigMix 2M', 700, normal, 'migmix-2m/migmix-2m-bold.ttf');
.font('Migu 1P', 400, normal, 'migu-1p/migu-1p-regular.ttf');
.font('Migu 1P', 700, normal, 'migu-1p/migu-1p-bold.ttf');
.font('Migu 1C', 400, normal, 'migu-1c/migu-1c-regular.ttf');
.font('Migu 1C', 700, normal, 'migu-1c/migu-1c-bold.ttf');
.font('Migu 1M', 400, normal, 'migu-1m/migu-1m-regular.ttf');
.font('Migu 1M', 700, normal, 'migu-1m/migu-1m-bold.ttf');
.font('Migu 2M', 400, normal, 'migu-2m/migu-2m-regular.ttf');
.font('Migu 2M', 700, normal, 'migu-2m/migu-2m-bold.ttf');
.font('Ricty Diminished', 400, normal, 'ricty-diminished/RictyDiminished-Regular.ttf');
.font('Ricty Diminished', 700, normal, 'ricty-diminished/RictyDiminished-Bold.ttf');
.font('Ricty Diminished', 400, italic, 'ricty-diminished/RictyDiminished-Oblique.ttf');
.font('Ricty Diminished', 700, italic, 'ricty-diminished/RictyDiminished-BoldOblique.ttf');
.font('Source Han Code JP', 400, normal, 'source-han-code-jp/SourceHanCodeJP-Regular.otf');
.font('Source Han Code JP', 700, normal, 'source-han-code-jp/SourceHanCodeJP-Bold.otf');
.font('Source Han Code JP', 400, italic, 'source-han-code-jp/SourceHanCodeJP-RegularIt.otf');
.font('Source Han Code JP', 700, italic, 'source-han-code-jp/SourceHanCodeJP-BoldIt.otf');
.font('Source Han Sans JP', 400, normal, 'source-han-sans/SourceHanSansJP-Regular.otf');
.font('Source Han Sans JP', 700, normal, 'source-han-sans/SourceHanSansJP-Bold.otf');
.font('Source Han Sans KR', 400, normal, 'source-han-sans/SourceHanSansKR-Regular.otf');
.font('Source Han Sans KR', 700, normal, 'source-han-sans/SourceHanSansKR-Bold.otf');
.font('Source Han Sans TW', 400, normal, 'source-han-sans/SourceHanSansTW-Regular.otf');
.font('Source Han Sans TW', 700, normal, 'source-han-sans/SourceHanSansTW-Bold.otf');
.font('Source Han Sans CN', 400, normal, 'source-han-sans/SourceHanSansCN-Regular.otf');
.font('Source Han Sans CN', 700, normal, 'source-han-sans/SourceHanSansCN-Bold.otf');

.fonts-cjk-editor-font {
  atom-text-editor.editor {
    font-family: var(--fonts-cjk-editor-font), var(--fonts-cjk-secondary-font, monospace);
  }
}

.fonts-cjk-markdown-preview-font {
  .markdown-preview {
    font-family: var(--fonts-cjk-markdown-preview-font), var(--fonts-cjk-secondary-font, sans-serif) !important;
  }
}

.fonts-cjk-workspace-font {
  atom-workspace,
  .settings-view,
  .github-Panel {
    font-family: var(--fonts-cjk-workspace-font), var(--fonts-cjk-secondary-font, sans-serif) !important;
  }
}
